<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4 col-xs-12 text-center">
		<h1> 編輯餐廳 </h1><br>
		<%= simple_form_for(@restaurant) do |f| %>
			<%= render :partial => "restaurant_form", :locals => { :f => f } %>
			<div class="form-group">
				<br>	
				<%= f.submit "Update", :method => :patch ,class: 'btn btn-primary'  %>
			</div>
		<% end %>
		<div class="form-group">
			<br>	
			<%= link_to "取消", restaurants_path, class: 'btn btn-warning' %>
			</div>
	</div>
</div>