<h1> This is new Page </h1>
<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-md-4 col-xs-12 text-center">
				<%= form_for(@restaurant) do |f| %>
	  			<%= render :partial => "restaurant_form", :locals => { :f => f } %>
	  			<div class="form-group">
						<%= f.submit "Create", class: 'btn btn-primary' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>