<div class="row text-center">
	<h1> This is show page </h1>
	<br>
  <%= image_tag("彈芽麵.jpg") %>
  <br>
  </br>
  <%= link_to "Order", new_restaurant_orderlist_path(@restaurant), class: 'btn btn-primary' %>           
</div>
